{% extends "base.html" %}
{% block TITLE %}Catalogue{% endblock %}
{% block HEADER %}
    <h1 class="text-center mb-4">Automotive Parts Catalogue</h1>
{% endblock %}
{% block CONTENT %}
    <div class="container mb-4">
        <form action="{{ url_for('catalogue') }}" method="get" class="d-flex justify-content-center">
            <div class="input-group" style="max-width: 500px;">
                <input type="text" name="search" class="form-control" placeholder="Search parts..." value="{{ request.args.get('search', '') }}">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="container">
        {% for part in parts %}
            <div class="card mb-4">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename='images/' + part.image) }}" class="img-fluid rounded-start" alt="{{ part.name }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ part.name }}</h5>
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="fw-bold">Supplier:</p>
                                    <p class="fw-bold">Price:</p>
                                    <p class="fw-bold">Availability:</p>
                                    <p class="fw-bold">Quantity:</p> <!-- vielleicht Ampelsystem implementieren und quantity rauslassen -->
                                    <p class="fw-bold">Estimated Delivery:</p>
                                </div>
                                <div class="col-md-8">
                                    {% if current_user.is_authenticated %}
                                        <p>{{ part.supplier }}</p>
                                        <p>{{ part.price }}</p>
                                        <p>{{ part.availability }}</p>
                                        <p>{{ part.quantity }}</p>
                                        <p>{{ part.delivery }}</p>
                                    {% else %}
                                        <div class="alert alert-info">
                                            <i class="fas fa-lock"></i>
                                            <a href="{{ url_for('login') }}" class="alert-link">Login to see information</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}