{% extends "base.html" %}
{% block TITLE %}Part Details{% endblock %}
{% block CONTENT %}
<div class="container">
    <div class="row mb-4">
        <div class="col-12 text-end">
            <a href="{{ url_for('catalogue') }}" class="custom-button">
                <i class="fas fa-arrow-left me-2"></i>Back to Catalogue
            </a>
        </div>
    </div>
    <div class="row mb-4 align-items-stretch">
        <div class="col-md-4">
            <img src="{{ part.image_url }}" class="view-part-img" alt="{{ part.name }}">
        </div>
        <div class="col-md-8">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ part.name }}</h5>
                    <p class="card-text"><strong>Supplier:</strong> {{ part.supplier }}</p>
                    <p class="card-text"><strong>Manufacturer:</strong> {{ part.manufacturer }}</p>
                    <p class="card-text"><strong>Model:</strong> {{ part.model }}</p>
                    <p class="card-text"><strong>Price:</strong> ${{ part.price }}</p>
                    <p class="card-text"><strong>Availability:</strong> {{ part.availability }}</p>
                    <p class="card-text"><strong>Quantity:</strong> {{ part.quantity }}</p>
                    <p class="card-text"><strong>Estimated Delivery:</strong> {{ part.delivery }}</p>
                    <form method="POST" action="{{ url_for('add_to_cart', part_id=part.id) }}">
                        <button type="submit" class="custom-button">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}